.download{
    overflow: hidden;
    position: relative;
    padding-top: 200px;
    background-color: white;
}
.shapedividers_com-2618::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 194px;
    background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fcfcfc"/></svg>'); 
    }
@media (min-width:2100px){
    .shapedividers_com-2618::before{
    background-size: 100% calc(2vw + 194px);
    }
}
.download .title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    margin-top: -100px;
}
.download .title .bookImg{
    width: 100px;
}
.download .title .word{
    color: var(--main_color);
}
.download .read a{
    margin-left: 20px;
}
.download .read  a img:hover{
    transform: translate3D(0,-1px,0) scale(1.1); 
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease; 
}
.download .read a img{
    width: 150px;
}
.download .container .aboutImg{
    position: relative;
    z-index: 1;
    width: 600px;
    margin-top: -50px;
    margin-left: 35px;
}
.download .container h4{
    width: 500px;
    color:var(--main_color);
    text-align: end;
}
.download .container .read {
    margin-right: 10px;
    margin-bottom: 55px;
}
@media (max-width: 680px) {
    .download .container .aboutImg{
        width: 100%;
        background-color: white;
        margin-left: 0px;
    }
    .download .container h4{
        width: 100%;
        margin-top: 40px;
        position: relative;
        z-index: 11;
    }
}